{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"it-it" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<title>{% block title %}Impariamo l'italiano{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
	{% load bootstrap3 %}
	{% bootstrap_css %}
	<style>

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;*/
  /*margin-top: 60px;*/
	background: url('{% static 'lemory_core/lemory_icon_color_transp.svg' %}') no-repeat center;
  
  }
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #333333;
}	
	
body > .container {
	padding-top: 60px;
}

a.btn {
	text-decoration: none;
}

</style>
	{% block extrastyle %}{% endblock %}
    {% block headjavascript %}{% endblock %}
	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript"></script>
{% block extrahead %}{% endblock %}
</head>
{% load i18n %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/" style="background-image: url('{% static 'lemory_core/lemory_icon_color_small.png' %}'); background-repeat: no-repeat; padding-left: 35px;">Lemory</a>
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	{% block navglobal %}
		<!--li class="active">
			<a href="#">
				<span class="glyphicon glyphicon-home"></span>
				Home
			</a>
		</li-->
        <li class="">
			<a href="{% url 'tests list' %}">
				<span class="glyphicon glyphicon-list-alt"></span>
				Elenco esercizi
			</a>
		</li>
		<!--li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
		  <ul class="dropdown-menu">
			<!--li><a href="#">Contact</a></li>
			<li><a href="{% url 'credits' %}">Credits</a></li>
			<!--li class="divider"></li>
			<li class="dropdown-header">Nav header</li>
			<li><a href="#">Separated link</a></li>
		  </ul>
		</li-->
	{% endblock %}
	  </ul>
	  <ul class="nav navbar-nav navbar-right" ">
		{% if user.is_authenticated %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user" style="color: green;"></span>
					{{ user.get_full_name  | default:"No name" }} <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Cambia password</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
			</li>
		{% else %}
			<li>
				<a href="{% url 'login next' 'tests/' %}"><span class="glyphicon glyphicon-user" style="color: red;"></span> Login</a>
			</li>
		{% endif %}
	  </ul>
	</div><!--/.nav-collapse -->
	</div>
</div>

<!-- Begin Body -->
<div class="container maincontainer">
	<div class="row">
		<div class="" id="mainCol">{% block maincontent %}{% endblock %}</div>
		<div class="col-md-3" id="leftCol">{% block rightbar %}{% endblock %}</div>
	</div>
</div>	
<!-- End Body -->
{% comment %}
<div id="footer">
	<div class="container">
		<p class="text-muted" style="margin: 5px;">
		{% block footer %}Place sticky footer content here.{% endblock %}
		</p>
	</div>
</div>
{% endcomment %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% bootstrap_javascript %}
{% block bottomjavascript %}{% endblock %}
</body>
</html>

