{% extends "lemory_core/base.html" %}
{% block extrastyle %}
<style>
.form-control {
	text-align: center;
	font-size: x-large;
	background-color: rgba(255,255,255,0.9);
}
.has-success .form-control {
	background-color: rgba(60, 118, 61, 0.9);
	color: #eee;
}
.has-error .form-control {
	background-color: rgba(206, 132, 131, 0.9);
	color: #eee;
}

.maincontainer {
  overflow: hidden;
}

body {
background-image: url('{{ current_definition.lang_word.term.image.source }}');
background-size: contain;
background-position: center 50px; 
background-repeat:no-repeat;
/*height: 100%;
min-height: 100%;
bottom: 0px;*/
}

</style>

{% block maincontent %}

<h2 class="page-header">{{ test.name }}</h2>

<div class="row">
	<div class="col-xs-6">
		Questo esercizio ti permette di studiare le parole di queste sezioni del libro:<br/>
		<ul>
			{% for section in test.book_sections.all %}
			<li>{{ section.name }};</li>
			{% endfor %}
		</ul>
		e ha {{ words_count }} parole.
	</div>
	<div class="col-xs-6">
		<form action="{% url 'test runs' test.id %}" method="POST"><input type="submit" class="btn btn-primary" value="Inizia l'esercizio!" />{% csrf_token %}</form>
	</div>
</div>
	

<hr/>
{% if runs %}
	<h4>Hai fatto l'esercizio {% if runs|length == 1 %}1 volta{% else %}{{ runs|length }} volte{% endif %}.</h4>
	<div class="table-responsive">
	<table class="table table-striped table-hover">
	<thead><tr>
		<th>Data/ora</th>
		<th>Test</th>
		<th>Studente</th>
		<th>Parole</th>
		
		<th>Vocaboli corretti</th>
		<th>Vocaboli sbagliati</th>
		<th>Totale vocaboli</th>
		<th># Tentativi</th>
		<!-- <th>Contenuti</th>-->
		<th/>
	</tr></thead>
	<tbody>
	{% for run in runs %}
	<tr>
		<td>{{ run.date_created }}</a></td>
		<td>{{ run.status }}</td>
		<td>{{ run.score_correct }}</td>
		<td>{{ run.score_wrong }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
{% else %}
	<h4>Non hai ancora fatto l'esercizio!</h4>
{% endif %}

{% endblock %}

