{% extends "lemory_core/base.html" %}
{% load staticfiles %}
<style>
.languageSelect a {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
vertical-align: middle;
  font-size: 48px;
  height: 150px;
  width: 220px;
  
}
.lang_IT {
  background-image: url({% static "lemory_core/icon_italy.png" %});
  background-image: url({% static "lemory_core/icon_italy.svg" %}), none;
}
.lang_FwR {
  background-image: url({% static "lemory_core/icon_france.png" %});
  background-image: url({% static "lemory_core/icon_france.svg" %}), none;
}

</style>
{% block maincontent %}
<div class="container languageSelect">

	{% if user.is_authenticated %}
    <h2>Benvenuto {{ user.first_name }}!</h2>
	Per fare i compiti, <a class="btn btn-primary" href="{% url 'tests list' %}">clicca qui</a>
	
{% else %}
    <h2>Benvenuto!</h2>
	Per accedere, effettua il <a class="btn btn-primary btn-sm" href="{% url 'login next' 'tests/' %}" >login</a>
	
{% endif %}

</div>
{% endblock %}



