{% extends "lemory_core/base.html" %}

{% block extrastyle %}
<style>
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.additional {
  padding-bottom: 10px;
}
</style>
{% endblock %}

{% block maincontent %}

<form class="form-signin {% if form.errors %}has-error{% endif %}" method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">

	<h3 class="form-signin-heading">Login</h3>
	{% if form.errors %}
		<p>Nome utente o password non corretti. <br/>Prova di nuovo.</p>
	{% endif %}
		   
	<input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
	<input type="password" class="form-control" name="password" placeholder="Password" required="" />

	{% if next %}
		<input type="hidden"  name="next" value="{{ next }}" />
	{% endif %}

	{% csrf_token %}		
{% if form.errors %}
		<a href="#" class="additional pull-right" >Password dimenticata</a>
{% endif %}
	<button class="btn btn-lg btn-primary btn-block" value="login" type="submit">Login</button>
</form>

{% endblock %}


