{% extends "lemory_core/base.html" %}
{% load staticfiles %}


{% block maincontent %}
<div class="page-header">
	<h1>Elenco degli esercizi</h1>
</div>
<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead><tr>
		<th></th>
		<th>Esercizio</th>
		<th>Lingua</th>
		<th>Livello</th>
		<th>Sezione</th>
		<th>Contenuti</th>
		<th># Unit&agrave; lessicali</th>
		<!--<th># Esercizi</th>-->
		<th/>
	</tr></thead>
	<tbody>
	{% for test in tests %}
	<tr>
		<td class="col-md-3">
			{% comment %} il link del ripasso è dentro il form altrimenti finisce su una seconda riga {% endcomment %}
			<form action="{% url 'test new run' test.id %}" method="POST"><input type="submit" class="btn btn-primary" value="Inizia l'esercizio" />{% csrf_token %}
			{% if test.allow_review %}
				<a class="btn btn-success" href="{% url 'test execute start' test.id '0' 'preview' %}">Ripassa</a>
			{% endif %}
			</form>
		</td>
		<td><a href="{% url 'test details' test.id %}">{{ test.name }}</a></td>
		<td>{{ test.lang }}</td>
		<td>{{ test.level }}</td>
		<td>{% for section in test.book_sections.all %}
		{{ section.name }}
		{% if not forloop.last %},&nbsp;{% endif %}
		{% endfor %}</td>
		<td>{% for context in test.contexts.all %}
		{{ context.name }}
		{% if not forloop.last %},&nbsp;{% endif %}
		{% endfor %}</td>
		<!--<td>{{ test.num_words }}</td>-->
		<td>{{ test.num_checks }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}

{% block rightbar %}{% endblock %}