{% extends "lemory_core/base.html" %}
{% load staticfiles %}

{% block maincontent %}
<h2 class="page-header">Risultato dell'esercizio <i>{{ test_run.test_definition.name}}</i> iniziato il {{ test_run.date_created|date:'d.m \a\l\l\e H:i'}}</h2>

<p>Hai finito l&apos;esercizio. Questo &egrave; il tuo risultato.</p>
<div class="progress" style="height: 30px;">
  <div class="progress-bar progress-bar-success" style="width: {% widthratio test_run.score_correct test_run.max_possible_score 100 %}%">
    <span class="">{{ test_run.score_correct }} Corrette ({% widthratio test_run.score_correct test_run.max_possible_score 100 %}%)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: {% widthratio test_run.score_wrong test_run.max_possible_score 100 %}%">
    <span class="">{{ test_run.score_wrong }} Sbagliate ({% widthratio test_run.score_wrong test_run.max_possible_score 100 %}%)</span>
  </div>
</div>


<form method="POST" class="form-horizontal" action="{% url 'test new run' test_run.test_definition_id %}">{% csrf_token %}
	<p>Puoi ripetere l'esercizio tutte le volte che vuoi!</p>
	<button class="btn btn-primary" href="">Ripeti l&apos;esercizio</button>
	oppure <a class="btn btn-info" href="{% url 'test details' test_run.test_definition_id %}">torna all&apos;elenco degli esercizi</a>
</form>



{% endblock %}

