{% extends "lemory_core/base.html" %}
{% load staticfiles %}

{% block maincontent %}
<h2 class="page-header">{{ test.name }}</h2>

<div class="row">
	<div class="col-xs-6">
		Questo esercizio ti permette di studiare le parole di queste sezioni del libro:<br/>
		<ul>
			{% for section in test.book_sections.all %}
			<li>{{ section.name }};</li>
			{% endfor %}
		</ul>
		e ha {{ words_count }} parole.
	</div>
	<div class="col-xs-2">
		<form action="{% url 'test new run' test.id %}" method="POST"><input type="submit" class="btn btn-primary" value="Inizia l'esercizio" />{% csrf_token %}</form>
	</div>
	<div class="col-xs-2">
		<a class="btn btn-success" href="{% url 'test execute start' test.id 0 'preview' %}">Ripassa</a>
	</div>
</div>
	

<hr/>
{% if runs %}
	<h4>Hai fatto l'esercizio {% if runs|length == 1 %}1 volta{% else %}{{ runs|length }} volte{% endif %}.</h4>
	<div class="table-responsive">
	<table class="table table-striped table-hover">
	<thead><tr>
		{% comment %}<th></th>{% endcomment %}
        <th>Data</th>
		<!--th>Stato</th-->
		<!--th>Vocaboli corretti</th>
		<th>Vocaboli sbagliati</th-->
		<th>Risultato</th>
		<th/>
	</tr></thead>
	<tbody>
	{% for run in runs %}
	<tr>
		{% comment %}
			<td>
			{% if run.status == "running" %}
				<a class="btn btn-primary" href="{% url 'test execute start' test.id run.id 'run' %}">Reinizia</a>
			{% endif %}
			<a class="btn btn-success" href="{% url 'test execute start' test.id run.id 'review' %}">Rivedi</a>
			</td>
		{% endcomment %}
        <td>{{ run.date_created|date:'d.m \a\l\l\e H:i' }}</a></td>
		<!--td>{{ run.status }}</td-->
		<!--td>{{ run.score_correct }}</td>
		<td>{{ run.score_wrong }}</td-->
        <td>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-success" style="width: {% widthratio run.score_correct run.max_possible_score 100 %}%">
                <span class="">{{ run.score_correct }} Corrette ({% widthratio run.score_correct run.max_possible_score 100 %}%)</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width: {% widthratio run.score_wrong run.max_possible_score 100 %}%">
                <span class="">{{ run.score_wrong }} Sbagliate ({% widthratio run.score_wrong run.max_possible_score 100 %}%)</span>
              </div>
            </div>
        </td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
{% else %}
	<h4>Non hai ancora fatto l'esercizio!</h4>
{% endif %}

{% endblock %}

