{% extends "lemory_core/base.html" %}
{% load staticfiles %}

{% block extrastyle %}
<!--link rel="stylesheet" href="https://rawgithub.com/nghuuphuoc/bootstrapvalidator/master/dist/css/bootstrapValidator.css"/-->
<style>

.form-control {
	text-align: center;
	font-size: x-large;
	background-color: rgba(255,255,255,0.5);
}

form {
	margin-bottom: 5px;
}

.has-success .form-control {
	background-color: rgba(60, 118, 61, 0.5);
	color: #eee;
}
.has-error .form-control {
	background-color: rgba(206, 132, 131, 0.5);
	color: #eee;
}

.maincontainer {
  overflow: hidden;
}

body {
{% if image_display_method == "url" %}
background-image: url('{{ current_definition.lang_word.term.image.getImageUrl }}');
background-size: contain;
background-position: center 50px; 
background-repeat:no-repeat;
{% endif %}
/*height: 100%;
min-height: 100%;
bottom: 0px;*/
}

.embedded_frame {
	float: none;
	text-align: center;
	z-index: -1;	
	position: absolute;
	left: 0; 
	top: 50px;
}

.input-group button {
	height: 36px;
}

</style>

{% endblock extrastyle %}

{% block rightbar %}{% endblock %}

{% comment %}
http://startbootstrap.com/templates/simple-sidebar.html
{% endcomment %}

{% block maincontent %}
<div class="col-md-6 col-md-offset-3">

	{% if execution_mode == 'preview' %}
        {% if current_definition.lang_word.singular != "" %}
            <form class="sing has-success" role="form">{% csrf_token %}
				    <input class="form-control " type="text" value="{{ current_definition.lang_word.sart }} {{ current_definition.lang_word.sword }}" disabled="disabled">
            </form>
        {% endif %}
        {% if current_definition.lang_word.plural != "" %}
            <form class="plur has-success" role="form">{% csrf_token %}
				    <input class="form-control " type="text" value="{{ current_definition.lang_word.part }} {{ current_definition.lang_word.pword }}" disabled="disabled">
            </form>
        {% endif %}
    {% elif execution_mode == 'run' %}
        {% if current_definition.lang_word.singular != "" %}
            <form class="sing" onsubmit="validate($(this).find('input[type=text]')[0]);return false;" role="form">{% csrf_token %}
            {% if test_run_word.sing_is_correct %}
                <!--div class="input-group has-success"-->
                <div class="has-success">
                    <input class="form-control " type="text" value="{{ test_run_word.sing_last_entry }}" disabled="disabled">
                </div>
            {% else %}
                <div class="input-group">
                    <input class="form-control" type="text" name="singular"
                        {% if current_definition.lang_word.plural != "" %} placeholder="Singolare" {% endif %}
                        onblur="validate(this); return true;"
						onkeydown="$(this).parents('form').removeClass('has-error');return true;"
                        autocomplete="off" tabindex="1">
                    <span class="input-group-btn">
                        <a class="btn btn-primary"
                           onclick="validate($(this).parents('div.input-group').find('input')[0]); return true;"
                           type="button" tabindex="2">Check</a>
                    </span>
                </div>
            {% endif %}
            </form>
        {% endif %}
        {% if current_definition.lang_word.plural != "" %}
            <form class="plur" onsubmit="validate($(this).find('input[type=text]')[0]);return false;" role="form">{% csrf_token %}
            {% if test_run_word.plur_is_correct %}
                <!--div class="input-group has-success"-->
                <div class="has-success">
                    <input class="form-control " type="text" value="{{ test_run_word.plur_last_entry }}" disabled="disabled">
                </div>
            {% else %}
                <div class="input-group">
                    <input class="form-control" type="text" name="plural"
                        {% if current_definition.lang_word.singular != "" %} placeholder="Plurale" {% endif %}
                        onblur="validate(this); return true;"
						onkeydown="$(this).parents('form').removeClass('has-error');return true;"
                        autocomplete="off" tabindex="3">
                    <span class="input-group-btn">
                        <a class="btn btn-primary"
                           onclick="validate($(this).parents('div.input-group').find('input')[0]); return true;"
                           type="button" tabindex="4">Check</a>
                    </span>
                </div>
            {% endif %}
            </form>
        {% endif %}
    {% elif execution_mode == 'review' %}
    {% comment %}Only show the disabled inputs with the last entry from the student, if any. {% endcomment %}
        {% if current_definition.lang_word.sword != "" %}
            <form class="sing row" method="post" role="form">{% csrf_token %}
                {% if test_run_word.sing_is_correct %}
                    <div class="{{ test_run_word.sing_is_correct|yesno:'has-success,has-error' }}">
                        <input class="form-control " type="text" value="{{ test_run_word.sing_last_entry|default:'' }}" disabled="disabled">
                    </div>
                {% else %}
                     <div class="{{ test_run_word.sing_is_correct|yesno:'has-success,has-error' }} col-md-6" style="padding-left: 0; padding-right: 2px;">
                        <input class="form-control " type="text" value="{{ test_run_word.sing_last_entry|default:'' }}" disabled="disabled">
                    </div>
                     <div class="has-success col-md-6" style="padding-left:2px; padding-right:0;">
                        <input class="form-control " type="text" value="{{ current_definition.lang_word.sing_repr }}" disabled="disabled">
                    </div>
                {% endif %}
            </form>
        {% endif %}
        {% if current_definition.lang_word.plural != "" %}
            <form class="plur row" method="post" role="form">{% csrf_token %}
                {% if test_run_word.plur_is_correct %}
                    <div class="{{ test_run_word.plur_is_correct|yesno:'has-success,has-error' }} ">
                        <input class="form-control " type="text" value="{{ test_run_word.plur_last_entry|default:'' }}" disabled="disabled">
                    </div>
                {% else %}
                     <div class="has-error col-md-6" style="padding-left:0; padding-right:2px;">
                        <input class="form-control " type="text" value="{{ test_run_word.plur_last_entry|default:'' }}" disabled="disabled">
                    </div>
                     <div class="has-success col-md-6" style="padding-left:2px; padding-right:0;">
                        <input class="form-control " type="text" value="{{ current_definition.lang_word.plur_repr }}" disabled="disabled">
                    </div>
                {% endif %}
            </form>
        {% endif %}
    {% endif %}



	<!-- Pronounce file and links -->
	{% if execution_mode == 'preview'  %}
		<div class="row">
			<div class="col-xs-3">
			{% if current_definition.lang_word.pronounce_file %}
				<audio id="voice">
				  <source src="{% static current_definition.lang_word.pronounce_file.url %}" type="audio/mpeg">
				  <!--<source src="{% static "lemory_core/horse.ogg" %}" type="audio/ogg">-->
				  <embed height="50" width="100" src="{% static current_definition.lang_word.pronounce_file.url %}">
				</audio>
				<a href="#" class="btn btn-info btn-block" onclick="document.getElementById('voice').play();" style="text-decoration: none; float: none; margin: 0 auto;" title="Ascolta">
					<span class="glyphicon glyphicon-volume-up"></span> Ascolta
				</a>	
			{% endif %}
			</div>
			<div class="col-xs-2 col-xs-offset-6 pull-right go_on">
			{% if next_definition %}
				<a class="btn btn-info " href="{% url 'test execute' test_id 0 execution_mode next_definition.order %}" tabindex="5">
					Prossimo
					<span class="glyphicon glyphicon-arrow-right"></span>
				</a>
			{% else %}
				<a class="btn btn-info " href="{% url 'test details' test_id %}" tabindex="5">
					Fine 
					<img src="{% static "lemory_core/icon_checked_flag_32.png" %}" height="16">
				</a>
			{% endif %}
			</div>
		</div>
	{% else %}
		<div class="pull-right go_on">
		{% if next_definition %}
			<a class="btn btn-info " href="{% url 'test execute' test_id test_run_id execution_mode next_definition.order %}" tabindex="5">
				Prossimo
				<span class="glyphicon glyphicon-arrow-right"></span>
			</a>
		{% else %}
            <a class="btn btn-info " href="{% url 'test run' test_id test_run_id %}" tabindex="5">
				Fine 
				<img src="{% static "lemory_core/icon_checked_flag_32.png" %}" height="16">
			</a>
		{% endif %}
		</div>
	{% endif %}

</div><!-- Centered container of the form -->

{% if image_display_method == "embed" %}
    <div class="col-xs-12 embedded_frame" >
        {{ current_definition.lang_word.term.image.embed_html|safe }}
    </div>
{% endif %}

{% endblock maincontent%}

{% block bottomjavascript %}
{% if execution_mode == "run" %}
<!-- <script type="text/javascript" src="{% static "lemory_core/js/bootstrapValidator_min.js" %}"></script> -->
<script type="text/javascript" src="{% static 'lemory_core/js/core.js' %}"></script>
<script type="text/javascript">
function set_body_height() {
  var wh = $(window).height();
  $('body').height(wh - 60); // body height = window height
};


function validate(input) {
    var d = {};
    d[input.name] = input.value;
    if (input.value == "")
        return true;
    $.ajax({
        url: '{% url "test_word_verify" test_id test_run_id current_definition.order %}',
        type: 'POST',
        context: input,
        data: d,
        dataType: "json",
        }).done(function(data) {
            if (data.result_bool)
            {   /* "this" refers to the context defined in the ajax call, so the DOM of the input text itself */
                $(this).parents("form")
                        .removeClass("has-error")
                        .addClass("has-success")
                            .find("a")
                            .removeClass('btn-primary')
                            .addClass('btn-success')
                            .html('<img src="{% static "lemory_core/icon_smiley_32.png" %}" height="20">')
                            .attr("disabled","disabled");
                $(this).attr("disabled","disabled");
            }
            else {
                $(this).parents("form")
                        .removeClass("has-success")
                        .addClass("has-error");
            }
        });
};

</script>
{% endif %}
{% endblock %}