{% extends "lemory_core/base.html" %}
{% load staticfiles %}

{% block extrastyle %}
<style>
.form-control {
	text-align: center;
	font-size: x-large;
	background-color: rgba(255,255,255,0.9);
}
.has-success .form-control {
	background-color: rgba(60, 118, 61, 0.9);
	color: #eee;
}
.has-error .form-control {
	background-color: rgba(206, 132, 131, 0.9);
	color: #eee;
}

.maincontainer {
  overflow: hidden;
}

body {
background-image: url('{{ current_definition.lang_word.term.image.url }}');
background-size: contain;
background-position: center 50px; 
background-repeat:no-repeat;
/*height: 100%;
min-height: 100%;
bottom: 0px;*/
}

</style>
{% endblock %}

{% block maincontent %}
<div class="row testform">

<div class="col-xs-8 col-xs-offset-2">
	{% if current_definition.lang_word.singular != "" %}
	<form class="row sing col-xs-offset-2 form-horizontal bootstrap-validator-form" method="post">
			<div class="form-group col-xs-8 has-success">
				<input class="form-control" type="text" value="{{ current_definition.lang_word.sart }} {{ current_definition.lang_word.sword }}" disabled="disabled"/>
			</div>
	</form>
	{% endif %}
	{% if current_definition.lang_word.plural != "" %}
	<form class="row plur col-xs-offset-2 form-horizontal" method="post">
			<div class="form-group col-xs-8 has-success">
				<input class="form-control" type="text" id="plural"  value="{{ current_definition.lang_word.part }} {{ current_definition.lang_word.pword }}" disabled="disabled"/>
			</div>	
	</form>
	{% endif %}
	{% if current_definition.lang_word.pronounce_file %}
	<div class="row col-xs-offset-4 col-xs-2">
		<audio id="voice">
		  <source src="{% static current_definition.lang_word.pronounce_file.url %}" type="audio/mpeg">
		  <!--<source src="{% static "lemory_core/horse.ogg" %}" type="audio/ogg">-->
		  <embed height="50" width="100" src="{% static current_definition.lang_word.pronounce_file.url %}">
		</audio>
		<a href="#" class="btn btn-info btn-block" onclick="document.getElementById('voice').play();" style="text-decoration: none; float: none; margin: 0 auto;" title="Ascolta">
			<span class="glyphicon glyphicon-volume-up"></span> Ascolta
		</a>	
	</div>
	{% endif %}
</div>

<div class="col-xs-2">
	<ul class="pager">
		<li class="next">
		{% if next_definition != None %}
			<a href="{% url 'test preview' test_id next_definition.order %}">Next  &rarr;</a>
		{% else %}
			<a href="{% url 'test details' test_id %}">End &rarr;</a>
		{% endif %}
		</li>
	</ul>
</div>

</div>

{% endblock %}


{% block bottomjavascript %}
<script type="text/javascript">
function set_body_height() {
  var wh = $(window).height();
  $('body').height(wh - 60); // body height = window height
};
$(document).ready(function() {
	set_body_height();
});
</script>
{% endblock %}